#plomo {
    border-right-style: solid;
    border-width: 2px;
    border-right-color:#D2D2CD ;
    background: #f5f5f1;
    padding-right: 25px;
    max-width: 210px;
    height: 1000%;
    float: left;  
    position: fixed; 
 }
 .central1{
    margin-left: 200px;
    max-width: 880px;
 }
#plomo ul{
    padding-left: 0;
}
.titulo{
    padding: 20px 0 20px 3px;
}

.babajo{
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #D2D2CD;
    list-style: none;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    font-size: 18px;
}
#jairo{
    color: blue;
    font-size: 30px;
}
.acomodar-derecha {
	
    width: 250px;
    height: 50% ;
    text-align: center;    
}
.colorrojo{
    color: red;
}
/*.derecha1{
    float: right;
    width: 250px;
    height: 50%;
    text-align: left;
    list-style: none;
    color:  red;
}




.menu-abajo {
    border-style: solid;
    border-width: 10px;
    border-color: red;
}*/